body {
    padding: 0;
    margin: 0;
}
.page {
    height: 80vh;
    position: absolute;
    width: 100%;
    transition: transform 1s;
}

.show {
    transform: translateX(0);
}

.hide {
    transform: translateX(-100%)
}

#all-pages {
    position: relative;
    margin: 0;
    padding: 0;
}

#page1 {
    background-color: aliceblue;
}